* {
	padding:0;
	margin:0;
}
body,html {
	margin: 0;
	padding: 0;
	font:normal normal 14px Arial, sans-serif;
}
#left{
	float:left;
	width:180px;
}
#left #logo img{
	float:left;
}
#left #logo #BB{
	font:normal normal 20px serif;
	padding:36px 0 40px;
}
#menu {
	line-height:26px;
	border-top:1px solid #E1E3E2;
	width:160px;
	margin:0 0 50px;
}
#menu a{
	display:block;
}
#menu a#select{
	background-color:#F3F7F8;
}
#menu a, #menu a:visited{
	padding:5px;
	text-decoration:none;
	color:#2D6188;
	border:1px solid white;
	border-bottom:1px solid #E1E3E2;
	font:normal normal 14px Arial, sans-serif;
}
#menu a:hover{
	border:1px solid #4B8CC2;
	color:#4B8CC2;
}
#main{
	margin: 20px 20px;
}
#main #head{
	font:normal normal 25px serif;
	margin: 0 0 20px 200px;
}
#content{
	margin:0 30px 0 200px;
}
#payment h3{
	margin:50px 50px 10px 200px;
	font:bold normal 14px Arial, sans-serif;
}
#payment #bg{
	margin:0 0 0 200px;
	height:35px;
	background: white url(../images/pay.gif) repeat-x top left;
}
#payment table{
	position:relative;
	top:-35px;
}
td, th{
	border-collapse:collapse;
	border:0 none;
	width:180px;
}
td{
	vertical-align:top;
}
#left-pay-th{
	background: white url(../images/left-pay.jpg) no-repeat top right;
	height:35px;
	width:40px;
	border:1px solid red;
}
#right-pay-th{
	background: white url(../images/right-pay.jpg) top left;
	height:35px;
	width:119px;
}
.pay-th{
	background: white url(../images/pay.jpg) top left;
	height:35px;
	color:white;
	font:bold normal 20px serif;
}
#left-pay{
	background: white url(../images/v-border.gif) repeat-y top right;
}
.pay{
	background: #F8F8F8 url(../images/v-border.gif) repeat-y top right;
	padding:10px;
	border-bottom:1px solid #DADADA;
}
.pay .el_payment{
	margin: 10px 0
}
#C{
	clear:both;
	border-top:1px solid #DADADA;
	padding:10px 0 0 70px;
}

