*{padding:0;margin:0}
body,html{margin:0;padding:0;font:normal normal 14px Arial,sans-serif}
body{direction:rtl}
a,a:visited,a:hover{color:#00479C}
#left{float:right;width:190px;margin:20px 0 0}
#left #logo img{float:right;margin:0 10px 0 0}
#left #logo #BB{font:normal bold 16px "Times New Roman",serif;padding:38px 63px 25px 0}
#logo #clear{clear: both; height: 0px; overflow: hidden;}
#menu{line-height:26px;border-top:1px solid #E1E3E2;width:175px;margin:0 0 50px}
#menu a{display:block;margin:0 5px 0 0}
#menu a#select{background-color:#E4F2FF}
#menu a,#menu a:visited{padding:5px;text-decoration:none;color:#00479C;border:1px solid white;border-bottom:1px solid #E1E3E2;font:normal normal 14px Arial,sans-serif}
body#main #menu a.menu_main,
body#about #menu a.menu_about,
body#why_now #menu a.menu_why_now,
body#projects_and_expenses #menu a.menu_projects_and_expenses,
body#donors_list #menu a.menu_donors_list,
body#privacy_and_security #menu a.menu_privacy_and_security,
body#faq #menu a.menu_faq,
body#contact_us #menu a.menu_contact_us,
#menu a:hover{background-color:#F8F8F8}
#main_div{padding:20px 20px 20px 0}
#content,#title{margin:0 170px 0 30px}
#content h3,#title h3{text-align:right;font:normal normal 18px "Times New Roman",serif;color:#00479C}
#content .email{margin:10px 0 0;display:block}
#content img.more{margin:0 5px;border:0 none}
#content a{font:normal normal 12px Arial,sans-serif;text-decoration:none}
#content p{margin:15px 0 10px 0;font:normal normal 12px Arial,sans-serif;width:540px;line-height:1.3}
#content h4{margin:15px 0 10px 0;font:normal bold 12px Arial,sans-serif;width:540px}
.sortup{background:#00479C url(../images/up-arrow.gif) no-repeat 4% 3px}
.sortup a,.sortdown a{color:white !important}
.sortdown{background:#00479C url(../images/down-arrow.gif) no-repeat 4% 3px}
#spinner{float:right}
#title{width:530px}
#payment{margin:20px 170px 20px 50px}
td,th{border-collapse:collapse;width:150px;margin:0;padding:0;font-weight:normal}
td{vertical-align:top}
.pay-table{padding:0 0 1px 0;background:#F8F8F8 url(../images/h-border.gif) repeat-x bottom left}
.pay-th-left{width:1px;background:#00479C url(../images/v-white.gif) repeat-y top right}
.pay-th{height:25px;color:white;font:normal bold 17px "Times New Roman",serif;padding:0 13px 0 0;text-align:right;background:#00479C url(../images/v-white.gif) repeat-y top right}
.pay-td-left{background:#F8F8F8 url(../images/v-border.gif) repeat-y top left;width:1px}
.pay-td{background:#F8F8F8 url(../images/v-border.gif) repeat-y top left;padding:25px 13px 10px;font:normal normal 12px Arial,serif}
.pay-td p{padding:0 0 5px}
.pay-td .hdr{font-weight:bold}
.pay-td pre{font:normal bold 12px Arial,serif;color:#00479C}
.el_payment{display:block}
.pay-td .el_payment{margin:10px 0}
.pay-td .el_payment img{border:0 none}
#C{clear:both;border-top:1px solid #DADADA;padding:10px 205px 0 0;font-size:12px}
#content .table{border-top:1px solid black;border-bottom:1px solid black;margin:5px 0 10px;width:530px !important;font:normal normal 12px Arial,sans-serif;empty-cells:show;border-collapse:collapse}
#content .table th{padding:3px !important;text-align:right;border-bottom:1px solid black}
#content .table td{padding:3px}
#content .table p{width:370px !important;margin:0 0 10px}
#content .table a{display:block;text-decoration:underline}
#content a.pg{text-decoration:underline}
#content p.pages{text-align:center}
#content p.pages span{color:red;font-weight:bold}
.list-line-odd td{background-color:#F8F8F8}
.list-line-even td{border-top:1px solid #BFBFBF;border-bottom:1px solid #BFBFBF}
.list-intern-left{border-right:1px solid #BFBFBF !important}
.list-intern-right{border-right:1px solid #BFBFBF !important;border-left:1px solid #BFBFBF !important}
.don-date{width:15%}
.don-name{width:27%}
.don-country{width:9%}
.don-msg{width:40%}
.don-sum{width:9%}
.short-name{width:30%}
.short-column{width:20%}
h2{margin:12.0pt 0 3;font:italic normal 14.0pt Arial}
p.MsoNormal{font:normal normal 12px Arial,sans-serif;line-height:1.3;margin:0 0 10px 0;width:530px !important}
p.Myheading2{font-weight:bold !important;width:530px !important}
.screenshot img{border:0 none;float:right;margin:10px 10px 0 0}
.screenshot-simple{border:0 none;float:right;margin:10px 10px 0 0}
