.overlay_darkX {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.darkX_nw {
	background: transparent url(../images/window/titlebar-left-focused.png) repeat-x 0 0;			
  width:6px;
  height:21px;
}
.darkX_n {
  background: transparent url(../images/window/titlebar-mid-focused.png) repeat-x 0 0;			
  height:21px;
}
.darkX_ne {
  background: transparent url(../images/window/titlebar-right-focused.png) repeat-x 0 0;			
  width:6px;	  
  height:21px;
}
.darkX_w {
  background: transparent url(../images/window/frame-left-focused.png) repeat-y top left;			
  width:3px;
}

.darkX_e {
  background: transparent url(../images/window/frame-right-focused.png) repeat-y top right;			
  width:3px;	  
}

.darkX_sw {
  background: transparent url(../images/window/frame-bottom-left-focused.png) repeat-x 0 0;			
  width:5px;
  height:3px;
}
.darkX_s {
  background: transparent url(../images/window/frame-bottom-mid-focused.png) repeat-x 0 0;			
  height:5px;
}
.darkX_se{
  background: transparent url(../images/window/frame-bottom-right-focused.png) repeat-x 0 0;			
  width:5px;
  height:3px;
}
.darkX_sizer {
  background: transparent url(../images/window/frame-bottom-right-focused.png) repeat-x 0 0;			
  width:5px;
  height:3px;
  cursor:se-resize;	
}

.darkX_close {
	width: 21px;
	height: 21px;
	background: transparent url(../images/window/button-close-focused.gif) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:5px;
	cursor:pointer;
	z-index:1000;
}

.darkX_minimize {
	width: 21px;
	height: 21px;
	background: transparent url(../images/window/button-minimize-focused.png) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:26px;
	cursor:pointer;
	z-index:1000;
}

.darkX_maximize {
	width: 21px;
	height: 21px;
	background: transparent url(../images/window/button-maximize-focused.png) no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:47px;
	cursor:pointer;
	z-index:1000;
}


.darkX_title {
	float:left;
	height:14px;
	font-size:12px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#FFF;
}

.darkX_content {
	overflow:auto;
	color: #E6DF2A;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	background:white;
}


/* FOR IE */
* html .darkX_minimize {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/window/button-minimize-focused.png", sizingMethod="crop");
}

* html .darkX_maximize {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/window/button-maximize-focused.png", sizingMethod="scale");
}

.wired_frame {
  display: block;
  position: absolute;
  border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
}

.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
	margin: 0px;
	padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
  padding: 0; 
}

.dialog .title_window {
  -moz-user-select:none;
}
