<%=_('Dear')%> <%=@recipient_name%>,
 
<%=_('This is to confirm that your donation of')%> <%=@currency%><%=@sum%> <%=_('to Bnei Baruch has been received, and will go toward helping share the wisdom of Kabbalah.')%>
 
<%=_('Thank you for your support!')%>
 
<%=_('Sincerely,')%>
 
<%=_('Bnei Baruch Association+')%>
https://www.kabbalah.info/donations/<%=@lang%>