<p dir="<%=@rtl%>"><%=_('Dear')%> <%=@recipient_name%>,</p>
<p dir="<%=@rtl%>"><%=_('This is to confirm that your donation of')%> <%=@currency%><%=@sum%> <%=_('to Bnei Baruch has been received, and will go toward helping share the wisdom of Kabbalah.')%></p>
<p dir="<%=@rtl%>"><%=_('Thank you for your support!')%></p>
<p dir="<%=@rtl%>"><%=_('Sincerely,')%></p>
<p dir="<%=@rtl%>"><%=_('Bnei Baruch Association+')%></p>
<p dir="<%=@rtl%>">https://www.kabbalah.info/donations/<%=@lang%></p>
