<div id="description">
  <%=  Common.get_kabcoil_by_lang(@lang) %>
</div>
<div id="content">
  <%= render :partial => "donors_list" -%>
</div>

<iframe src="<%=url_for(:controller => "kabcoil", :action => "tranzilla") %>">TRANZILLA PAYMENT</iframe>