<p>
  <b>Language: </b><%=@common.language.name%>
</p>
<% for column in Common.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @common.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @common %> |
<%= link_to 'Back', :action => 'list' %>
