<div id="content">

<h3><%= @page_title %></h3>
<%= @page_content_short %>

<%= link_to 'Send Email Now', 
		 {:controller => "send_email", :action => "email_get_data" },
		 {:target => "_blank", :class => "email",
		  :onclick => "OpenWin('#{url_for(:controller => "user", :action => "email_get_data")}', '#@page_title', 600, 400); return false"}
		 %>	
</div>

<%= render :partial => "payment" -%>


