<div id="title">
<h3><%=_('Donate to help share the wisdom of Kabbalah')%></h3>
<h3><%=_('Your part in correcting the world')%></h3>
</div>
<%= render :partial => "payment" -%>
<div id="content">
<%= render :partial => "donors_list" -%>
</div>
