<p>
  <b>Name: </b><%=@project.name%>
</p>
<p>
  <b>Short Description: </b><%=@project.short_decr%>
</p>
<p>
  <b>Description: </b><%=@project.description%>
</p>
<p>
  <b>Cost:  $</b><%=@project.cost%>
</p>
<p>
  <b>Start Date: </b><%=@project.start_date%>
</p>
<p>
  <b>End date: </b><%=@project.duration%>
</p>
<p>
  <b>Completed: </b><%=@project.is_completed ? "yes" : "no" %>
</p>
