<p>Для перевода средств с использованием WebMoney Transfer вам необходимо произвести перевод на кошельки:</p>
<p>
Z400245944289-в долларах<br>
E855447970123-в евро<br>
R125020186753-в рублях<br>
</p>
<p>Для совершения перевода откройте WM Keeper и щелкните правой кнопкой на кошельке, с которого вы хотите произвести перевод, а затем выберите из меню «Передать деньги» -> «В кошелек WebMoney». В появившемся диалоговом окне введите сумму перевода и номер нашего кошелька</p>
