<p>Для перевода средств с использованием платежной системы Яндекс.Деньги вам необходимо произвести перевод на наш счет № 41001147423532</p>
<p>
Для совершения перевода залогиньтесь на <a href="http://passport.yandex.ru/passport?mode=loginform&msg=money&retpath=https://money.yandex.ru/index.xml" target="_blank">этой странице</a>.</br>
Щелкните левой кнопкой на "Перевести".</br>  
В появившемся диалоговом окне введите номер нашего счета: 41001147423532, сумму перевода и Ваши комментарии.
</p>
