<h1>Editing page_content</h1>

<% form_tag :action => 'update', :id => @page_content do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @page_content %> |
<%= link_to 'Back', :action => 'list' %>
