<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=_('Donations')%>::<%= controller.action_name %></title>
  <% if @rtl -%>
	  <%= stylesheet_link_tag "don_user-heb" , :media => "all" %>
	  <%= stylesheet_link_tag "window-heb" , :media => "all" %>
  <% else -%>
	  <%= stylesheet_link_tag "don_user" , :media => "all" %>
	  <%= stylesheet_link_tag "window" , :media => "all" %>
  <% end -%>
<script type="text/javascript">
//<![CDATA[
var cot_loc0=(window.location.protocol == "https:")? "https://secure.comodo.net/trustlogo/javascript/cot.js" : "http://www.trustlogo.com/trustlogo/javascript/cot.js";
document.writeln('<script language="JavaScript" src="'+cot_loc0+'" type="text\/javascript"><\/script>');
//]]>
</script>
</head>
<body id="<%= controller.action_name %>">
   <%= javascript_include_tag "application" %>
	<div id="left">
		<div id="logo">
			<%=image_tag("tree.gif", :alt => _('Bnei Baruch Association'))%>
			<div id="BB"><%=_('Bnei Baruch Association')%></div>
		</div>
	  <div id="menu">
		  <%= link_to _("Home"), {:action => "main"}, {:class => "menu_main"} %>
		  <%= link_to _("About Bnei Baruch"), {:action => "about"}, {:class => "menu_about"} %>
		  <%= link_to _("Why Now"), {:action => "why_now"}, {:class => "menu_why_now"} %>
		  <%= link_to _("Projects and Expenses"), {:action => "projects_and_expenses"}, {:class => "menu_projects_and_expenses"} %>
		  <%= link_to _("Donor list"), {:action => "donors_list"}, {:class => "menu_donors_list"} %>
		  <%= link_to _("Privacy and Security"), {:action => "privacy_and_security"}, {:class => "menu_privacy_and_security"} %>
		  <%= link_to _("FAQ"), {:action => "faq"}, {:class => "menu_faq"} %>
		  <%= link_to _("Contact Us"), {:action => "contact_us"}, {:class => "menu_contact_us"} %>
	  </div>
  </div>
  <div id="main">		
    <%= yield :layout %>
  </div>
	<div id="C">
		 <%= Common.get_copyright_by_lang(@lang) %>
	</div>
	<%# Comodo Trust Logo -%>
<script type="text/javascript">
//<![CDATA[
COT("<%= image_path("secure_site.gif") %>", "SC2", "none");
//]]>
</script>
  <%= javascript_include_tag "all" %>
</body>
</html>
