<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Bnei Baruch Association::<%= controller.action_name %></title>
  <%= stylesheet_link_tag "don_user" , :media => "all" %>
  <%= stylesheet_link_tag "window" , :media => "all" %>
<script type="text/javascript">
//<![CDATA[
var cot_loc0=(window.location.protocol == "https:")? "https://secure.comodo.net/trustlogo/javascript/cot.js" : "http://www.trustlogo.com/trustlogo/javascript/cot.js";
document.writeln('<script language="JavaScript" src="'+cot_loc0+'" type="text\/javascript"><\/script>');
//]]>
</script>
</head>
<body>
  <%= javascript_include_tag "application" %>
	<div id="left">
		<div id="logo">
			<%=image_tag("../images/tree.gif", :alt => "Bnei Baruch Association")%>
			<div id="BB">Bnei Baruch Association</div>
		</div>
	  <div id="menu">
		  <%= link_to "Home", {:action => "main"},
		  		@action == "main" ? {:id => "select"} : {} %>
		  <%= link_to "About Bnei Baruh", {:action => "about"}, @action == "about" ? {:id => "select"} : {} %>
		  <%= link_to "Why Now", {:action => "why_now"}, @action == "why_now" ? {:id => "select"} : {} %>
		  <%= link_to "Donors' list", {:action => "donors_list"}, @action == "donors_list" ? {:id => "select"} : {} %>
		  <%= link_to "Projects and Expenses", {:action => "projects_and_expenses"}, @action == "projects_and_expenses" ? {:id => "select"} : {} %>
		  <%= link_to "Projects History", {:action => "projects_history"}, @action == "projects_history" ? {:id => "select"} : {} %>
		  <%= link_to "Privacy and Security", {:action => "privacy_and_security"}, @action == "privacy_and_security" ? {:id => "select"} : {} %>
		  <%= link_to "FAQ", {:action => "faq"}, @action == "faq" ? {:id => "select"} : {} %>
		  <%= link_to "Contact us", {:action => "contact_us"}, @action == "contact_us" ? {:id => "select"} : {} %>
	  </div>
  </div>
  <div id="main">		
    <%= yield :layout %>
  </div>
	<div id="C">
		 <%= Common.get_copyright_by_lang('English') %>
	</div>
	<%# Comodo Trust Logo -%>
<script type="text/javascript">
//<![CDATA[
<% if params[:action] != "index" -%>
COT("../images/secure_site.gif", "SC2", "none");
<% else -%>
COT("images/secure_site.gif", "SC2", "none");
<% end -%>
//]]>
</script>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag "window" %>
</body>
</html>
